@page "/recipes/top-rated"

@inherits AbpCrudPageBase<IRecipeAppService,
RecipeDto,
RecipeSummaryDto,
Guid,
GetRecipesInput,
CreateUpdateRecipeDto,
CreateUpdateRecipeDto>

<Card>

<Row Class="justify-content-between">
<Column ColumnSize="ColumnSize.IsAuto">
<CardTitle>Top Rated Recipes</CardTitle>
</Column>
<Column ColumnSize="ColumnSize.IsAuto">
    @if (HasCreatePermission)
    {
        <Button Color="Color.Primary"
                Clicked="OpenCreateModalAsync">
            <Icon Name="IconName.Add" />
            @L["Recipes:New"]
        </Button>
    }
</Column>
</Row>
<CardBody>
    <DataGrid TItem="RecipeSummaryDto"
              Data="Entities"
              ReadData="OnDataGridReadAsync"
              Page="CurrentPage"
              TotalItems="TotalCount"
              ShowPager="true"
              RowStyling="OnRowStyling"
              RowClicked="OnRowClicked"
              PageSize="PageSize">
        <DataGridColumns>
            <DataGridEntityActionsColumn TItem="RecipeSummaryDto" @ref="@EntityActionsColumn">
                <DisplayTemplate>
                   <div @onclick:stopPropagation="true">
                        <EntityActions TItem="RecipeSummaryDto" EntityActionsColumn="@EntityActionsColumn">
                            <EntityAction TItem="RecipeSummaryDto"
                                          Text="@L["Common:Edit"]"
                                          Visible=HasUpdatePermission
                                          Clicked="() => OpenEditModalAsync(context.Item)" />
                            <EntityAction TItem="RecipeSummaryDto"
                                          Text="@L["Common:Delete"]"
                                          Visible=HasDeletePermission
                                          Clicked="() => DeleteEntityAsync(context.Item)"
                                          ConfirmationMessage="()=>GetDeleteConfirmationMessage(context.Item)" />
                        </EntityActions>
                   </div>
                    
                </DisplayTemplate>
            </DataGridEntityActionsColumn>
            <DataGridColumn TItem="RecipeSummaryDto"
                            Field="@nameof(RecipeSummaryDto.Name)"
                            Caption="@L["Recipes:Name"]"></DataGridColumn>
            <DataGridColumn TItem="RecipeSummaryDto"
                            Field="@nameof(RecipeSummaryDto.Id)"
                            Caption="@L["Recipes:Id"]">
                
            </DataGridColumn>

        </DataGridColumns>
    </DataGrid>
</CardBody>
</Card>


    @code {
    private List<RecipeSummaryDto> TopRatedRecipes { get; set; } = new();
    // private List<RecipeDto> Recipes { get; set; }

    public TopRated()
    {
        LocalizationResource = typeof(MealPlannerAPIResource);
    }

    protected override void OnInitialized()
    {
        CreatePolicyName = MealPlannerAPIPermissions.Recipes.Create;
        UpdatePolicyName = MealPlannerAPIPermissions.Recipes.Update;
        DeletePolicyName = MealPlannerAPIPermissions.Recipes.Delete;
        base.OnInitialized();
    }

    protected override async Task OnInitializedAsync()
    {
        CreatePolicyName = MealPlannerAPIPermissions.Recipes.Create;
        UpdatePolicyName = MealPlannerAPIPermissions.Recipes.Update;
        DeletePolicyName = MealPlannerAPIPermissions.Recipes.Delete;

        var result = await RecipeAppService.GetTopRatedAsync(50);
        var recipes = await RecipeAppService.GetListAsync(new GetRecipesInput { MaxResultCount = 100 });

        // Recipes = recipes.Items.ToList();
        TopRatedRecipes = result?.Items?.ToList() ?? new List<RecipeSummaryDto>();
        await base.OnInitializedAsync();
    }
    private void GoToDetail(Guid id)
    {
        // encode current URL as returnUrl query param
        var returnUrl = Uri.EscapeDataString(NavigationManager.Uri);
        NavigationManager.NavigateTo($"/recipes/{id}?returnUrl={returnUrl}");
    }

    private void OnRowClicked(DataGridRowMouseEventArgs<RecipeSummaryDto> args)
    {
        var id = args.Item.Id;
        GoToDetail(id);
    }
    private void OnRowStyling(RecipeSummaryDto item,
                                DataGridRowStyling style)
    {
        style.Class = "clickable-row";

    }
}
